
 table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
} 
.bar {
    shape-rendering: crispEdges;
  }
  .axis-label {
    font-size: 12px;
  } 

  
 
  
  #fact-box {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #333;
    z-index: 1000;
}
