/* Styles for the rotating globe chart and information display */
#chartdiv {
    width: 100%;
    height: 500px;
    max-width: 100%;
  }
  
  #country-data {
    margin-top: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #f9f9f9;
    border: none;
    border-radius: 5px;
}

#restartButton:hover {
    background-color: #0056b3;
}


